/* You can add global styles to this file, and also import other style files */
*{
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    }
@import '../node_modules/bootstrap/scss/bootstrap.scss';
li{
    list-style: none;
}
body{
    background-color: lightgray;

    // position: relative;
}
